:root {
   --primary: #FFC100;
   --light: #EEEEEE;
   --dark: #000;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Fira sans', sans-serif;
   scroll-behavior: smooth;
}

.container{
   max-width: 1280px;
   margin: 0 auto;

   display: flex;
   align-items: center;
   justify-content: space-between;
}

.chat-bar-collapsible {
   position: fixed;
   bottom: 154px;
   right: 84px;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   background: white;
   border-radius: 20px 20px 0px 0px;
   /* transform: scale3d(1, 1, 1) skew(0deg, 0deg) rotateY(0deg) translateX(1000px) translateY(1000px) scaleY(0) scaleX(0); */
   clip-path: circle(0% AT 175% 175%);
   transition: clip-path 1s ease-in-out;
}

.collapsible{
   background-color: var(--primary);
   color: white;
   cursor: pointer;
   padding: 18px;
   width: auto;
   text-align: left;
   outline: none;
   font-size: 18px;
   border-radius: 10px 10px 0px 0px;
   border: 3px solid white;
   border-bottom: none;
}

.collapsible2{
   background-color: var(--primary);
   color: white;
   cursor: pointer;
   padding: 18px;
   width: auto;
   text-align: left;
   outline: none;
   font-size: 18px;
   border-radius: 10px 10px 0px 0px;
   border: 3px solid white;
   border-bottom: none;
}

.content {
   max-height: 496px;
   overflow: auto;
   transition: max-height 0.2s ease-out;
   background-color: #f1f1f1;
}

.full-chat-block {
   width: 325px;
   background: white;
   text-align: center;
   overflow: auto;
   scrollbar-width: none;
   height: max-content;
   transition: max-height 0.2s ease-out;
}

.outer-container {
   min-height: 380px;
   bottom: 0%;
   position: relative;
}

.chat-container {
   max-height: 386px;
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   scroll-behavior: smooth;
   hyphens: auto;
}

.chat-container::-webkit-scrollbar {
   display: none;
}

.chat-bar-input-block {
   display: flex;
   float: left;
   box-sizing: border-box;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   background-color: var(--primary);
   background-image: linear-gradient(to top, var(--primary) , #0000002b);
   border-radius: 0px 0px 20px 20px;
   padding: 10px 0px 10px 10px;
   top: 380px;
   position: absolute;
}

.chat-bar-icons {
   display: flex;
   justify-content: space-evenly;
   box-sizing: border-box;
   width: 25%;
   float: right;
   font-size: 20px;
}

#chat-icon:hover {
   opacity: .7;
}

/* Chat bubbles */

#userInput {
   width: 75%;
}

.input-box {
   float: left;
   border: none;
   box-sizing: border-box;
   width: 100%;
   border-radius: 10px;
   padding: 10px;
   font-size: 16px;
   color: #000;
   background-color: white;
   outline: none;
   background-image: linear-gradient(to bottom, #ffffff , #00000025);
}

.userText {
   color: white;
   font-family: Helvetica;
   font-size: 16px;
   font-weight: normal;
   text-align: right;
   clear: both;
   margin-top: 10px;
   margin-bottom: 0px;
}

.userText span {
   line-height: 1.5em;
   display: inline-block;
   background: #02010031;
   padding: 10px;
   border-radius: 20px;
   border-bottom-right-radius: 2px;
   max-width: 80%;
   margin-right: 10px;
   animation: floatup .2s ease-in-out;
   background-image: linear-gradient(-180deg , rgb(255 255 255 / 38%) 0%, #0000003b 100%);
}

#firstBtns{
   animation: floatup 1s ease-in-out;
}
#linuxAnswers, #generalAnswers, #windowsAnswers, #macAnswers, #infraAnswers{
   animation: floatup 0.5s ease-in-out;
}

.HelpMessage{
   padding: 5px 10px 5px 10px;
   background-color: var(--primary);
   border-radius: 15px;
   position: absolute;
   width: 160px;
   right: 47px;
   bottom: 70px;
   background-image: linear-gradient(to bottom right, #ffffff75 , #00000037);
}

.HelpMessage:after{
   position: absolute;
   width: 30px;
   height: 20px;
   background: var(--primary);
   content: '';
   transform: rotate(23deg);
   left: 148px;
   top: 37px;
   margin-left: -25px;
   margin-top: -25px;
   z-index: -1;
   background-image: linear-gradient(to bottom right, #ffffff75 , #00000052);
}

@media(max-width:767px) {
   .HelpMessage{
     width: 147px;
   }
   .HelpMessage:after{
      left: 133px;
      top: 36px;
   }
}

.botText {
   color: #000;
   font-family: Helvetica;
   font-weight: normal;
   font-size: 16px;
   text-align: left;
}

.botText span {
   color: white;
   line-height: 1.5em;
   display: inline-block;
   background: var(--primary);
   padding: 10px;
   border-radius: 20px;
   border-bottom-left-radius: 2px;
   max-width: 80%;
   margin-left: 10px;
   animation: floatup .5s forwards;
   background-image: linear-gradient(to bottom, #ffffff55 , #00000025);
}

@keyframes floatup {
   from {
       transform: translateY(14px);
       opacity: .0;
   }
   to {
       transform: translateY(0px);
       opacity: 1;
   }
}

@media screen and (max-width:600px) {
   .full-chat-block {
      width: 100%;
      border-radius: 0px;
   }
   .chat-bar-collapsible {
      position: fixed;
      bottom: 174px;
      right: 34px;
      width: 50%;
      background: white;
   }
   .collapsible {
      width: 100%;
      border: 0px;
      border-top: 3px solid white;
      border-radius: 0px;
   }
   .collapsible2 {
      width: 100%;
  }
   .outer-container{
      min-height: 337px;
   }
   .chat-bar-input-block{
      top: 337px;
   }
}


@media screen and (max-height: 707px){
   .chat-container {
     max-height: 178px;
     width: 100%;
     position: absolute;
     bottom: 0;
     left: 0;
     scroll-behavior: smooth;
     hyphens: auto;
   }
   .outer-container {
     min-height: 180px;
     bottom: 0%;
     position: relative;
   }
   .full-chat-block {
     width: 640px;
     background: white;
     text-align: center;
     overflow: auto;
     scrollbar-width: none;
     height: max-content;
     transition: max-height 0.2s ease-out;
   }
   .content {
     max-height: 496px;
     overflow: auto;
     transition: max-height 0.2s ease-out;
     background-color: #f1f1f1;
   }
   .chat-bar-input-block{
      top: 180px;
   }
   #userInput{
      width:215%;
   }
   .chat-bar-collapsible{
      bottom: 89px;
      right: 137px;
   }
 }

.Antwort1{
   padding: 1px 3px;
   margin: 10px 10px 0px 10px;
   background: white;
   color: black;
   width: auto;
   border-radius: 9px;
   font-size: 14px;
   border-color: var(--primary);
}
.Antwort1:hover{
   color: white;
   background-color: var(--primary);
	cursor: pointer;
	position: relative;
	background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.459) 0%, #0000003b 100%);
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
   padding: 10px;
   background: var(--primary);
   border: none;
   outline: none;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
   border-bottom-right-radius: 50px;
   box-shadow: 0px 10px 15px rgb(0 0 0 / 10%);
   cursor: pointer;
   background-image: linear-gradient(to bottom right, #ffffff75 , #00000037);
}











.chatbox__header {
   position: absolute;
   top: -71px;
   background: var(--primary);
   display: flex;
   padding: 15px;
   border-radius: 20px 20px 0px 0px;
   width: 100%;
   background-image: linear-gradient(to bottom, #FFC100 , #0000002e);
}
.chatbox__image--header {
   margin-right: 10px;
}
.chatbox__heading--header {
   font-size: 1.2rem;
   color: white;
}
.chatbox__description--header {
   font-size: .9rem;
   color: white;
}






/* .Antwort1 {
   padding: 1px 3px;
   margin: 10px 10px 0px 10px;
	cursor: pointer;
	position: relative;
	border-radius: 3.75rem;
	line-height: 2.5rem;
	font-size: 2rem;
	font-weight: 600;
	
	border: 1px solid #012880;
	background-image: linear-gradient(-180deg, #FF89D6 0%, #C01F9E 100%);
}

.Antwort1 span {
	color: transparent;
	background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

.Antwort1::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	opacity: 0.7;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.Antwort1::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	filter: blur(1px);
	opacity: 0.05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
} */