@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

:root {
  --primary: #FFC100;
  --light: #EEEEEE;
  --dark: #000;
  --background: #e1ecf2;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
body{
  background: white;
}
.wrapper{
  margin: 0px;
}
.wrapper .top_navbar{
  width: 100%;
  height: 60px;
  display: -webkit-inline-box;
  position: fixed;
  top: 0px;
}

.wrapper.collapse .top_navbar .hamburger{
  width: 96px;
}

.wrapper .top_navbar .hamburger{
  width: 200px;
  height: 125%;
  background: var(--primary);
  padding: 23px 30px;
  border-top-left-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wrapper .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: white;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 125%;
  background: var(--background);
  border-top-right-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 4px 4px -2px rgb(0 0 0 / 36%);
}

.wrapper .top_navbar .top_menu .logo{
  color: black;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0px;
  display: flex;
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: var(--primary);
  border-radius: 50%;
  color: black;
}

.wrapper .top_navbar .top_menu ul li a:hover{
  background: var(--primary);
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}

.wrapper .sidebar{
  position: fixed;
  top: 75px;
  left: 0px;
  background: var(--primary);
  width: 200px;
  height: 100%;
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
  display: block;
  padding: 20px;
  color: #fff;
  position: relative;
  margin-bottom: 1px;
  color: white;
  white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #ffffff;
  display: none;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  font-size: 25px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: rgba(255, 255, 255, 0.384);
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .main_container{
  width: (100% - 200px);
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
  margin-top: 100px;
}

.wrapper.collapse .sidebar{
  width: 96px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center; 
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}

.wrapper.collapse .main_container{
  width: (100% - 70px);
  margin-left: 120px;
  margin-top: 100px;
}
